Repository wingkam2006cv/doobie: changes, and which Mergify rules are due for each by the changed paths.
All: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label h2-circe PRs, Label hikari PRs, Label munit PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs, Label weaver PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - body~=labels:.*early-semver-patch
  - status-success=Build and Test (ubuntu-latest, 2.12.17, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 2.13.10, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 3.3.0, temurin@11)
  actions:
    merge: {}
- name: Label bench PRs
  conditions:
  - files~=^modules/bench/
  actions:
    label:
      add:
      - bench
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^modules/docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label example PRs
  conditions:
  - files~=^modules/example/
  actions:
    label:
      add:
      - example
      remove: []
- name: Label free PRs
  conditions:
  - files~=^modules/free/
  actions:
    label:
      add:
      - free
      remove: []
- name: Label h2 PRs
  conditions:
  - files~=^modules/h2/
  actions:
    label:
      add:
      - h2
      remove: []
- name: Label h2-circe PRs
  conditions:
  - files~=^modules/h2-circe/
  actions:
    label:
      add:
      - h2-circe
      remove: []
- name: Label hikari PRs
  conditions:
  - files~=^modules/hikari/
  actions:
    label:
      add:
      - hikari
      remove: []
- name: Label munit PRs
  conditions:
  - files~=^modules/munit/
  actions:
    label:
      add:
      - munit
      remove: []
- name: Label postgres PRs
  conditions:
  - files~=^modules/postgres/
  actions:
    label:
      add:
      - postgres
      remove: []
- name: Label postgres-circe PRs
  conditions:
  - files~=^modules/postgres-circe/
  actions:
    label:
      add:
      - postgres-circe
      remove: []
- name: Label refined PRs
  conditions:
  - files~=^modules/refined/
  actions:
    label:
      add:
      - refined
      remove: []
- name: Label scalatest PRs
  conditions:
  - files~=^modules/scalatest/
  actions:
    label:
      add:
      - scalatest
      remove: []
- name: Label specs2 PRs
  conditions:
  - files~=^modules/specs2/
  actions:
    label:
      add:
      - specs2
      remove: []
- name: Label weaver PRs
  conditions:
  - files~=^modules/weaver/
  actions:
    label:
      add:
      - weaver
      remove: []

Update scala-library, scala-reflect to 2.13.12
  .github/workflows/ci.yml
  build.sbt
Due: none

Regenerate GitHub Actions workflow
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Update scala3-library to 3.3.1
  build.sbt
Due: none

Update scalatest to 3.2.17
  build.sbt
Due: none

Update sbt-jmh to 0.4.6
  project/plugins.sbt
Due: none

Revert commit(s) 1f0a1478
  build.sbt
Due: none

Update circe-core, circe-generic, ... to 0.14.6
  build.sbt
Due: none

Revert commit(s) bb6997a8, 7e978696
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Update munit to 1.0.0-M10
  build.sbt
Due: none

Fix link rot in postgres docs
  modules/docs/src/main/mdoc/docs/15-Extensions-PostgreSQL.md
Due: Label docs PRs

Return type for generated kleisliinterpreter
  build.sbt
  modules/free/src/main/scala/doobie/free/callablestatement.scala
  modules/free/src/main/scala/doobie/free/connection.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/free/src/main/scala/doobie/free/ref.scala
  modules/free/src/main/scala/doobie/free/resultset.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
  modules/postgres/src/test/scala/doobie/postgres/LOStreamingSuite.scala
  project/FreeGen2.scala
Due: Label free PRs, Label postgres PRs

Update cats-effect, cats-effect-testkit to 3.5.2
  build.sbt
Due: none

Fix typo transcator -> transactor
  modules/docs/src/main/mdoc/docs/13-Unit-Testing.md
  modules/example/src/main/scala/example/PostgresNotify.scala
Due: Label docs PRs, Label example PRs

Update mdoc, sbt-mdoc to 2.3.8
  project/plugins.sbt
Due: none

Update mdoc, sbt-mdoc to 2.4.0
  project/plugins.sbt
Due: none

Remove reference to ZonedDateTime in pgsql docs
  modules/docs/src/main/mdoc/docs/15-Extensions-PostgreSQL.md
Due: Label docs PRs

Update build.sbt
  build.sbt
Due: none

Allow for different effects of HikariTransactor and its creation
  modules/hikari/src/main/scala/doobie/hikari/HikariTransactor.scala
Due: Label hikari PRs

Allow for different effects of HikariTransactor and its creation
  modules/docs/src/main/mdoc/docs/14-Managing-Connections.md
Due: Label docs PRs

Update fs2-core, fs2-io to 3.9.3
  build.sbt
Due: none

Update HikariCP to 5.1.0
  build.sbt
Due: none

Update specs2-core to 4.20.3
  build.sbt
Due: none

Update mdoc, sbt-mdoc to 2.5.0
  project/plugins.sbt
Due: none

expose "unlabelled"
  modules/core/src/main/scala/doobie/util/package.scala
Due: Label core PRs

Fix potential future leak
  modules/free/src/main/scala/doobie/WeakAsync.scala
Due: Label free PRs

Update mdoc, sbt-mdoc to 2.5.1
  project/plugins.sbt
Due: none

Fix andFallbackTrue docstring
  modules/core/src/main/scala/doobie/util/fragments.scala
Due: Label core PRs

Update sbt-typelevel-ci-release, ... to 0.6.2
  project/plugins.sbt
Due: none

Input Objects GmbH adopter
  modules/docs/src/main/mdoc/index.md
Due: Label docs PRs

Update various sbt plugins
  .github/workflows/ci.yml
  .mergify.yml
  project/build.properties
  project/plugins.sbt
  project/project/plugins.sbt
Due: none

Update postgresql to 42.7.0
  build.sbt
  project/build.sbt
Due: none

Mergify: Auto merge with merge-when-ci-succeed
  .mergify.yml
  build.sbt
Due: none

M0 and M
  modules/hikari/src/main/scala/doobie/hikari/HikariTransactor.scala
Due: Label hikari PRs

ScalaDoc for the type parameters
  modules/hikari/src/main/scala/doobie/hikari/HikariTransactor.scala
Due: Label hikari PRs

Update sbt-typelevel-ci-release, ... to 0.6.3
  project/plugins.sbt
Due: none

Regenerate GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

Make freeGen2 run manually (but verified by CI)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  PUBLISHING.md
  build.sbt
  project/FreeGen2.scala
Due: none
