Repository wingkam2006cv/doobie: changes, and which Mergify rules are due for each by the changed paths.
All: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label h2-circe PRs, Label hikari PRs, Label munit PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs, Label weaver PRs

Label bench PRs:
  label:
    add:
    - bench
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label example PRs:
  label:
    add:
    - example
    remove: []

Label free PRs:
  label:
    add:
    - free
    remove: []

Label h2 PRs:
  label:
    add:
    - h2
    remove: []

Label h2-circe PRs:
  label:
    add:
    - h2-circe
    remove: []

Label hikari PRs:
  label:
    add:
    - hikari
    remove: []

Label munit PRs:
  label:
    add:
    - munit
    remove: []

Label postgres PRs:
  label:
    add:
    - postgres
    remove: []

Label postgres-circe PRs:
  label:
    add:
    - postgres-circe
    remove: []

Label refined PRs:
  label:
    add:
    - refined
    remove: []

Label scalatest PRs:
  label:
    add:
    - scalatest
    remove: []

Label specs2 PRs:
  label:
    add:
    - specs2
    remove: []

Label weaver PRs:
  label:
    add:
    - weaver
    remove: []

Split methods for HikariTransactor constructed with two effects
  modules/docs/src/main/mdoc/docs/14-Managing-Connections.md
  modules/hikari/src/main/scala/doobie/hikari/HikariTransactor.scala
Due: Label docs PRs, Label hikari PRs

Upgrade postgis to 2023.1.0 / postgres-jdbc to 42.7.1
  build.sbt
  modules/docs/src/main/mdoc/docs/15-Extensions-PostgreSQL.md
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobject.scala
  modules/postgres/src/main/scala/doobie/postgres/pgisgeographyinstances.scala
  modules/postgres/src/main/scala/doobie/postgres/pgisinstances.scala
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
  project/build.sbt
Due: Label docs PRs, Label postgres PRs

Cleanup some imports
  build.sbt
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
Due: Label free PRs

add explicit names for givens for easier binary compatibility
  modules/core/src/main/scala-3/util/ReadPlatform.scala
  modules/core/src/main/scala-3/util/WritePlatform.scala
Due: Label core PRs

Fix compile errors and assert compile error is "implicit not found"
  modules/core/src/test/scala-3/doobie/util/ReadSuitePlatform.scala
  modules/core/src/test/scala-3/doobie/util/WriteSuitePlatform.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
Due: Label core PRs

Change suffix
  modules/hikari/src/main/scala/doobie/hikari/HikariTransactor.scala
Due: Label hikari PRs

Cleanup compile warnings in 2.13
  build.sbt
  modules/core/src/test/scala/doobie/util/GetSuite.scala
  modules/core/src/test/scala/doobie/util/PutSuite.scala
  modules/free/src/main/scala/doobie/free/callablestatement.scala
  modules/free/src/main/scala/doobie/free/connection.scala
  modules/free/src/main/scala/doobie/free/ref.scala
  modules/free/src/main/scala/doobie/free/resultset.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
  modules/postgres/src/main/scala/doobie/postgres/syntax/FragmentSyntax.scala
  project/FreeGen2.scala
Due: Label core PRs, Label free PRs, Label postgres PRs

add community section
  README.md
Due: none

Add withLogHandler method to Transactor
  modules/core/src/main/scala/doobie/util/transactor.scala
Due: Label core PRs

Update sbt to 1.9.8
  project/build.properties
Due: none

Update mdoc, sbt-mdoc to 2.5.2
  project/plugins.sbt
Due: none

Update sbt-typelevel-ci-release, ... to 0.6.5
  project/plugins.sbt
Due: none

Regenerate GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

Update sbt-jmh to 0.4.7
  project/plugins.sbt
Due: none

Update specs2-core to 4.20.4
  build.sbt
Due: none

Update cats-effect, cats-effect-testkit to 3.5.3
  build.sbt
Due: none

Update fs2-core, fs2-io to 3.9.4
  build.sbt
Due: none

Update specs2-core to 4.20.5
  build.sbt
Due: none

Update weaver-cats to 0.8.4
  build.sbt
Due: none

Update paradox-theme-generic, sbt-paradox to 0.10.6
  project/plugins.sbt
Due: none

Update refined to 0.11.1
  build.sbt
Due: none

Update scalatest to 3.2.18
  build.sbt
Due: none

Update sbt-typelevel-ci-release, ... to 0.6.6
  project/plugins.sbt
Due: none

Update munit to 1.0.0-M11
  build.sbt
Due: none

Update sbt to 1.9.9
  project/build.properties
Due: none

Update kind-projector to 0.13.3
  build.sbt
Due: none

Update scala-library, scala-reflect to 2.12.19
  build.sbt
Due: none

Update sbt-typelevel-ci-release, ... to 0.6.7
  project/plugins.sbt
Due: none

Update scala3-library to 3.3.3
  build.sbt
Due: none

Update scala-library, scala-reflect to 2.13.13
  .github/workflows/ci.yml
  build.sbt
Due: none

Update cats-effect, cats-effect-testkit to 3.5.4
  build.sbt
Due: none

Base implementation of PostgreSQL range types
  modules/postgres/src/main/scala/doobie/postgres/Instances.scala
  modules/postgres/src/main/scala/doobie/postgres/types/Range.scala
Due: Label postgres PRs

Refactor implementation of PostgreSQL range types
  modules/postgres/src/main/scala/doobie/postgres/Instances.scala
  modules/postgres/src/main/scala/doobie/postgres/types/Range.scala
Due: Label postgres PRs

Implement tests for PostgreSQL range types
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
  modules/postgres/src/test/scala/doobie/postgres/types/RangeSuite.scala
Due: Label postgres PRs

Refactor tests for PostgreSQL range types
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
Due: Label postgres PRs

Refactor implementation of PostgreSQL range types
  modules/postgres/src/main/scala/doobie/postgres/Instances.scala
  modules/postgres/src/main/scala/doobie/postgres/package.scala
  modules/postgres/src/main/scala/doobie/postgres/rangeinstances.scala
  modules/postgres/src/main/scala/doobie/postgres/types/Range.scala
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
  modules/postgres/src/test/scala/doobie/postgres/types/RangeSuite.scala
Due: Label postgres PRs

Implement PostgresRange example app
  modules/example/src/main/scala/example/PostgresRange.scala
Due: Label example PRs

Improve rangeinstances formatting
  modules/postgres/src/main/scala/doobie/postgres/rangeinstances.scala
Due: Label postgres PRs

Describe docs for PostgreSQL range types
  modules/docs/src/main/mdoc/docs/15-Extensions-PostgreSQL.md
Due: Label docs PRs

Path conditions:
  Label bench PRs: any of: ^modules/bench/
  Label core PRs: any of: ^modules/core/
  Label docs PRs: any of: ^modules/docs/
  Label example PRs: any of: ^modules/example/
  Label free PRs: any of: ^modules/free/
  Label h2 PRs: any of: ^modules/h2/
  Label h2-circe PRs: any of: ^modules/h2-circe/
  Label hikari PRs: any of: ^modules/hikari/
  Label munit PRs: any of: ^modules/munit/
  Label postgres PRs: any of: ^modules/postgres/
  Label postgres-circe PRs: any of: ^modules/postgres-circe/
  Label refined PRs: any of: ^modules/refined/
  Label scalatest PRs: any of: ^modules/scalatest/
  Label specs2 PRs: any of: ^modules/specs2/
  Label weaver PRs: any of: ^modules/weaver/
