Repository wingkam2006cv/doobie: changes, and which Mergify rules are due for each by the changed paths.
All: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label h2-circe PRs, Label hikari PRs, Label munit PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs, Label weaver PRs

Label bench PRs:
  label:
    add:
    - bench
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label example PRs:
  label:
    add:
    - example
    remove: []

Label free PRs:
  label:
    add:
    - free
    remove: []

Label h2 PRs:
  label:
    add:
    - h2
    remove: []

Label h2-circe PRs:
  label:
    add:
    - h2-circe
    remove: []

Label hikari PRs:
  label:
    add:
    - hikari
    remove: []

Label munit PRs:
  label:
    add:
    - munit
    remove: []

Label postgres PRs:
  label:
    add:
    - postgres
    remove: []

Label postgres-circe PRs:
  label:
    add:
    - postgres-circe
    remove: []

Label refined PRs:
  label:
    add:
    - refined
    remove: []

Label scalatest PRs:
  label:
    add:
    - scalatest
    remove: []

Label specs2 PRs:
  label:
    add:
    - specs2
    remove: []

Label weaver PRs:
  label:
    add:
    - weaver
    remove: []

fix formatting in FreeGen2.scala
  project/FreeGen2.scala
Due: none

apply 'scalafmtSbt'
  build.sbt
  project/FreeGen2.scala
  project/plugins.sbt
Due: none

add scalafmt plugin and config
  .scalafmt.conf
  project/plugins.sbt
Due: none

disable scalafmt in auto-generated files
  project/FreeGen2.scala
Due: none

apply 'freeGen2' then 'headerCreateAll'
  modules/free/src/main/scala/doobie/free/blob.scala
  modules/free/src/main/scala/doobie/free/callablestatement.scala
  modules/free/src/main/scala/doobie/free/clob.scala
  modules/free/src/main/scala/doobie/free/connection.scala
  modules/free/src/main/scala/doobie/free/databasemetadata.scala
  modules/free/src/main/scala/doobie/free/driver.scala
  modules/free/src/main/scala/doobie/free/embedded.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/free/src/main/scala/doobie/free/nclob.scala
  modules/free/src/main/scala/doobie/free/preparedstatement.scala
  modules/free/src/main/scala/doobie/free/ref.scala
  modules/free/src/main/scala/doobie/free/resultset.scala
  modules/free/src/main/scala/doobie/free/sqldata.scala
  modules/free/src/main/scala/doobie/free/sqlinput.scala
  modules/free/src/main/scala/doobie/free/sqloutput.scala
  modules/free/src/main/scala/doobie/free/statement.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copyin.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copymanager.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copyout.scala
  modules/postgres/src/main/scala/doobie/postgres/free/embedded.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobject.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
Due: Label free PRs, Label postgres PRs

enable scalafmt checks in CI
  build.sbt
Due: none

apply 'githubWorkflowGenerate'
  .github/workflows/ci.yml
Due: none

add '.git-blame-ignore-revs'
  .git-blame-ignore-revs
Due: none

Update circe-core, circe-generic, ... to 0.14.8
  build.sbt
Due: none

Update mdoc, sbt-mdoc to 2.5.3
  project/plugins.sbt
Due: none

Update scalatest to 3.2.19
  build.sbt
Due: none

Update mysql-connector-j to 9.0.0
  build.sbt
Due: none

Update circe-core, circe-generic, ... to 0.14.9
  build.sbt
Due: none

Update sbt-scoverage to 2.1.0
  project/plugins.sbt
Due: none

Update specs2-core to 4.20.8
  build.sbt
Due: none

Update sbt, sbt-dependency-tree to 1.10.1
  project/build.properties
Due: none

Update mdoc, sbt-mdoc to 2.5.4
  project/plugins.sbt
Due: none

Update cats-core, cats-free to 2.12.0
  build.sbt
Due: none

Fix logging for streaming and updateMany
  build.sbt
  modules/bench/src/main/scala/doobie/bench/text.scala
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/core/src/main/scala/doobie/hi/preparedstatement.scala
  modules/core/src/main/scala/doobie/util/package.scala
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/main/scala/doobie/util/update.scala
  modules/core/src/test/scala-2/doobie/util/LogSuitePlatform.scala
  modules/core/src/test/scala-2/doobie/util/QueryLogSuitePlatform.scala
  modules/core/src/test/scala-3/doobie/util/LogSuitePlatform.scala
  modules/core/src/test/scala-3/doobie/util/QueryLogSuitePlatform.scala
  modules/core/src/test/scala/doobie/util/LogSuite.scala
  modules/core/src/test/scala/doobie/util/QueryLogSuite.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/UpdateLogSuite.scala
  modules/docs/src/main/mdoc/docs/04-Selecting.md
  modules/docs/src/main/mdoc/docs/05-Parameterized.md
  modules/example/src/main/scala/example/Dynamic.scala
  modules/free/src/main/scala/doobie/util/log.scala
  modules/hikari/src/test/scala/doobie/ResourceCleanupSuite.scala
  modules/log4cats/src/main/scala/doobie/log4cats/Log4CatsDebuggingLogHandler.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/connection.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/syntax/syntax.scala
Due: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label hikari PRs, Label postgres PRs

Updated code generation to Scala 3 source
  build.sbt
  modules/hikari/src/main/scala/doobie/hikari/Config.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
  project/FreeGen2.scala
Due: Label hikari PRs, Label postgres PRs

Add source:future / better-monaidic-for for irrefutable pattern in for comprehension
  build.sbt
  modules/bench/src/main/scala/doobie/bench/select.scala
  modules/core/src/main/scala/doobie/hi/resultset.scala
  modules/core/src/main/scala/doobie/util/analysis.scala
  modules/core/src/main/scala/doobie/util/fragment.scala
  modules/core/src/main/scala/doobie/util/get.scala
  modules/core/src/main/scala/doobie/util/put.scala
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/main/scala/doobie/util/transactor.scala
  modules/core/src/main/scala/doobie/util/update.scala
  modules/core/src/main/scala/doobie/util/write.scala
  modules/core/src/main/scala/doobie/util/yolo.scala
  modules/core/src/test/scala/doobie/util/StrategySuite.scala
  modules/core/src/test/scala/doobie/util/TransactorSuite.scala
  modules/example/src/main/scala/example/FreeUsage.scala
  modules/example/src/main/scala/example/GenericStream.scala
  modules/example/src/main/scala/example/OtherSchema.scala
  modules/example/src/main/scala/example/StreamingCopy.scala
  modules/h2-circe/src/main/scala/doobie/h2/circe/Instances.scala
  modules/h2-circe/src/test/scala/doobie/h2/circe/H2JsonSuite.scala
  modules/hikari/src/test/scala/doobie/postgres/PGConcurrentSuite.scala
  modules/postgres-circe/src/main/scala/doobie/postgres/circe/Instances.scala
  modules/postgres-circe/src/test/scala/doobie/postgres/circe/PGJsonSuite.scala
  modules/postgres/src/main/scala-2/doobie/postgres/TextPlatform.scala
  modules/postgres/src/main/scala/doobie/postgres/Instances.scala
  modules/postgres/src/main/scala/doobie/postgres/Text.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/connection.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/pgisgeographyinstances.scala
  modules/postgres/src/main/scala/doobie/postgres/pgisinstances.scala
  modules/postgres/src/test/scala/doobie/postgres/LOSuite.scala
  modules/refined/src/main/scala/doobie/refined/Instances.scala
  modules/refined/src/test/scala/doobie/refined/RefinedSuite.scala
  modules/scalatest/src/main/scala/doobie/scalatest/Checker.scala
  modules/specs2/src/main/scala/doobie/specs2/analysismatchers.scala
  project/FreeGen2.scala
Due: Label bench PRs, Label core PRs, Label example PRs, Label h2-circe PRs, Label hikari PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs

Make tuple Read/Write instances available without an import
  build.sbt
  modules/core/src/main/scala-2/doobie/util/GetPlatform.scala
  modules/core/src/main/scala-2/doobie/util/MkReadPlatform.scala
  modules/core/src/main/scala-2/doobie/util/MkWritePlatform.scala
  modules/core/src/main/scala-2/doobie/util/PutPlatform.scala
  modules/core/src/main/scala-2/doobie/util/ReadPlatform.scala
  modules/core/src/main/scala-2/doobie/util/WritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/GetPlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkReadPlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkWritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/PutPlatform.scala
  modules/core/src/main/scala-3/doobie/util/ReadPlatform.scala
  modules/core/src/main/scala-3/doobie/util/WritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/shapeless/OrElse.scala
  modules/core/src/main/scala/doobie/util/read.scala
  modules/core/src/main/scala/doobie/util/write.scala
  modules/core/src/test/scala/doobie/issue/780.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
  modules/mysql/src/test/scala/doobie/mysql/util/arbitraries/TimeArbitraries.scala
  modules/postgres/src/test/scala/doobie/postgres/util/arbitraries/TimeArbitraries.scala
Due: Label core PRs, Label postgres PRs

docs: related projects
  modules/docs/src/main/mdoc/docs/18-Related-Projects.md
  modules/docs/src/main/mdoc/docs/index.md
Due: Label docs PRs

Update sbt-typelevel-ci-release, ... to 0.7.2
  project/plugins.sbt
Due: none

Regenerate GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

Path conditions:
  Label bench PRs: any of: ^modules/bench/
  Label core PRs: any of: ^modules/core/
  Label docs PRs: any of: ^modules/docs/
  Label example PRs: any of: ^modules/example/
  Label free PRs: any of: ^modules/free/
  Label h2 PRs: any of: ^modules/h2/
  Label h2-circe PRs: any of: ^modules/h2-circe/
  Label hikari PRs: any of: ^modules/hikari/
  Label munit PRs: any of: ^modules/munit/
  Label postgres PRs: any of: ^modules/postgres/
  Label postgres-circe PRs: any of: ^modules/postgres-circe/
  Label refined PRs: any of: ^modules/refined/
  Label scalatest PRs: any of: ^modules/scalatest/
  Label specs2 PRs: any of: ^modules/specs2/
  Label weaver PRs: any of: ^modules/weaver/
