Repository wingkam2006cv/doobie: changes, and which Mergify rules are due for each by the changed paths.
All: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label h2-circe PRs, Label hikari PRs, Label munit PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs, Label weaver PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - body~=labels:.*early-semver-patch
  - status-success=Build and Test (ubuntu-latest, 2.12.17, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 2.13.10, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 3.3.0, temurin@11)
  actions:
    merge: {}
- name: Label bench PRs
  conditions:
  - files~=^modules/bench/
  actions:
    label:
      add:
      - bench
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^modules/docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label example PRs
  conditions:
  - files~=^modules/example/
  actions:
    label:
      add:
      - example
      remove: []
- name: Label free PRs
  conditions:
  - files~=^modules/free/
  actions:
    label:
      add:
      - free
      remove: []
- name: Label h2 PRs
  conditions:
  - files~=^modules/h2/
  actions:
    label:
      add:
      - h2
      remove: []
- name: Label h2-circe PRs
  conditions:
  - files~=^modules/h2-circe/
  actions:
    label:
      add:
      - h2-circe
      remove: []
- name: Label hikari PRs
  conditions:
  - files~=^modules/hikari/
  actions:
    label:
      add:
      - hikari
      remove: []
- name: Label munit PRs
  conditions:
  - files~=^modules/munit/
  actions:
    label:
      add:
      - munit
      remove: []
- name: Label postgres PRs
  conditions:
  - files~=^modules/postgres/
  actions:
    label:
      add:
      - postgres
      remove: []
- name: Label postgres-circe PRs
  conditions:
  - files~=^modules/postgres-circe/
  actions:
    label:
      add:
      - postgres-circe
      remove: []
- name: Label refined PRs
  conditions:
  - files~=^modules/refined/
  actions:
    label:
      add:
      - refined
      remove: []
- name: Label scalatest PRs
  conditions:
  - files~=^modules/scalatest/
  actions:
    label:
      add:
      - scalatest
      remove: []
- name: Label specs2 PRs
  conditions:
  - files~=^modules/specs2/
  actions:
    label:
      add:
      - specs2
      remove: []
- name: Label weaver PRs
  conditions:
  - files~=^modules/weaver/
  actions:
    label:
      add:
      - weaver
      remove: []

Refactor implementation of PostgreSQL range types
  modules/postgres/src/main/scala/doobie/postgres/types/Range.scala
  modules/postgres/src/test/scala/doobie/postgres/types/RangeSuite.scala
Due: Label postgres PRs

Improve docs for PostgreSQL range types
  modules/docs/src/main/mdoc/docs/15-Extensions-PostgreSQL.md
  modules/postgres/src/main/scala/doobie/postgres/rangeinstances.scala
Due: Label docs PRs, Label postgres PRs

Improve docs for PostgreSQL range types
  modules/docs/src/main/mdoc/docs/15-Extensions-PostgreSQL.md
  modules/example/src/main/scala/example/PostgresRange.scala
  modules/postgres/src/main/scala/doobie/postgres/rangeinstances.scala
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
Due: Label docs PRs, Label example PRs, Label postgres PRs

Final refactoring of PostgreSQL range types
  modules/docs/src/main/mdoc/docs/15-Extensions-PostgreSQL.md
  modules/example/src/main/scala/example/PostgresRange.scala
  modules/postgres/src/main/scala/doobie/postgres/rangeinstances.scala
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
Due: Label docs PRs, Label example PRs, Label postgres PRs

Extend RangeSuite
  modules/postgres/src/test/scala/doobie/postgres/types/RangeSuite.scala
Due: Label postgres PRs

Update sbt-site to 1.6.0
  project/plugins.sbt
Due: none

Review based improvements for PostgreSQL range types
  modules/docs/src/main/mdoc/docs/15-Extensions-PostgreSQL.md
  modules/example/src/main/scala/example/PostgresRange.scala
  modules/postgres/src/main/scala/doobie/postgres/rangeinstances.scala
  modules/postgres/src/main/scala/doobie/postgres/types/Range.scala
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
  modules/postgres/src/test/scala/doobie/postgres/types/RangeSuite.scala
Due: Label docs PRs, Label example PRs, Label postgres PRs

Update fs2-core, fs2-io to 3.10.1
  build.sbt
Due: none

expand on hikari example
  modules/docs/src/main/mdoc/docs/14-Managing-Connections.md
  modules/example/src/main/scala/example/HikariExample.scala
Due: Label docs PRs, Label example PRs

Update fs2-core, fs2-io to 3.10.2
  build.sbt
Due: none

Update postgresql to 42.7.3
  build.sbt
  project/build.sbt
Due: none

update generated kleisliinterpreter
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
  project/FreeGen2.scala
Due: Label postgres PRs

Update paradox-theme-generic, sbt-paradox to 0.10.7
  project/plugins.sbt
Due: none

Update munit to 1.0.0-M12
  build.sbt
Due: none

More precise typechecking using vendor types
  docker-compose.yml
  init/mysql/test-table.sql
  init/postgres/test-db.sql
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/core/src/main/scala/doobie/package.scala
  modules/core/src/main/scala/doobie/util/analysis.scala
  modules/core/src/main/scala/doobie/util/get.scala
  modules/core/src/main/scala/doobie/util/meta/legacymeta.scala
  modules/core/src/main/scala/doobie/util/meta/meta.scala
  modules/core/src/main/scala/doobie/util/meta/sqlmeta.scala
  modules/core/src/main/scala/doobie/util/package.scala
  modules/core/src/main/scala/doobie/util/put.scala
  modules/docs/src/main/mdoc/docs/17-FAQ.md
  modules/example/src/main/scala/example/AnalysisTest.scala
  modules/example/src/main/scala/example/OtherSchema.scala
  modules/example/src/test/scala-2/example/AnalysisTestScalaTest.scala
  modules/example/src/test/scala-2/example/AnalysisTestSpecs2.scala
  modules/h2-circe/src/main/scala/doobie/h2/circe/Instances.scala
  modules/h2/src/main/scala/doobie/h2/H2JavaTimeMetaInstances.scala
  modules/h2/src/main/scala/doobie/h2/Metas.scala
  modules/h2/src/main/scala/doobie/h2/package.scala
  modules/h2/src/test/scala/doobie/h2/h2types.scala
  modules/postgres/src/main/scala/doobie/postgres/PostgresJavaTimeMetaInstances.scala
  modules/postgres/src/main/scala/doobie/postgres/package.scala
  modules/postgres/src/test/scala/doobie/postgres/CheckSuite.scala
  modules/postgres/src/test/scala/doobie/postgres/LOSuite.scala
Due: Label core PRs, Label docs PRs, Label example PRs, Label h2 PRs, Label h2-circe PRs, Label postgres PRs

Add MySQL java.time instances
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  modules/mysql/src/main/scala/doobie/mysql/MysqlJavaTimeInstances.scala
  modules/mysql/src/main/scala/doobie/mysql/package.scala
  modules/mysql/src/test/scala/doobie/mysql/CheckSuite.scala
  modules/mysql/src/test/scala/doobie/mysql/MySQLTestTransactor.scala
  modules/mysql/src/test/scala/doobie/mysql/TypesSuite.scala
  modules/mysql/src/test/scala/doobie/mysql/util/arbitraries/SQLArbitraries.scala
  modules/mysql/src/test/scala/doobie/mysql/util/arbitraries/TimeArbitraries.scala
Due: none

Update sbt-typelevel-ci-release, ... to 0.7.0
  project/plugins.sbt
Due: none

Update mysql-connector-j to 8.0.33
  build.sbt
Due: none

Update mysql-connector-j to 8.3.0
  build.sbt
Due: none

Update munit to 1.0.0-RC1
  build.sbt
Due: none

added named params
  modules/hikari/src/main/scala/doobie/hikari/Config.scala
Due: Label hikari PRs

Update circe-core, circe-generic, ... to 0.14.7
  build.sbt
Due: none

Update sbt to 1.10.0
  project/build.properties
Due: none

Update log4cats-core to 2.7.0
  build.sbt
Due: none

Fix instance derivation
  .github/workflows/ci.yml
  build.sbt
  modules/core/src/main/scala-2/util/ReadPlatform.scala
  modules/core/src/main/scala-2/util/WritePlatform.scala
  modules/core/src/main/scala-3/util/ReadPlatform.scala
  modules/core/src/main/scala-3/util/WritePlatform.scala
  modules/core/src/main/scala/doobie/util/package.scala
  modules/core/src/main/scala/doobie/util/read.scala
  modules/core/src/main/scala/doobie/util/write.scala
  modules/core/src/test/scala-2/doobie/util/ReadSuitePlatform.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/TestTypes.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
  modules/postgres/src/main/scala/doobie/postgres/package.scala
Due: Label core PRs, Label postgres PRs

Small comments for better explanation
  modules/core/src/main/scala/doobie/free/package.scala
  modules/core/src/main/scala/doobie/hi/Aliases.scala
Due: Label core PRs

Update shapeless to 2.3.11
  build.sbt
Due: none

Update shapeless to 2.3.12
  build.sbt
Due: none

Update munit to 1.0.0
  build.sbt
Due: none

add explicit types to make 2.12 typecheck
  build.sbt
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
Due: Label postgres PRs

Add parenthesis around each expression in and/or combinator
  modules/core/src/main/scala/doobie/util/fragments.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
Due: Label core PRs

Update various plugins and depenencies
  build.sbt
  modules/hikari/src/main/scala/doobie/hikari/Config.scala
  project/plugins.sbt
Due: Label hikari PRs

Remove lazy initialization of modules
  modules/core/src/main/scala/doobie/free/Aliases.scala
  modules/core/src/main/scala/doobie/hi/Aliases.scala
  modules/postgres/src/main/scala/doobie/postgres/free/aliases.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/aliases.scala
Due: Label core PRs, Label postgres PRs

core tests passing
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/core/src/main/scala/doobie/hi/preparedstatement.scala
  modules/core/src/main/scala/doobie/hi/resultset.scala
  modules/core/src/main/scala/doobie/hi/statement.scala
  modules/core/src/main/scala/doobie/syntax/connectionio.scala
  modules/core/src/main/scala/doobie/util/fragment.scala
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/main/scala/doobie/util/read.scala
  modules/core/src/main/scala/doobie/util/transactor.scala
  modules/core/src/main/scala/doobie/util/update.scala
  modules/core/src/main/scala/doobie/util/write.scala
  modules/core/src/test/scala/doobie/util/TestTypes.scala
  modules/postgres/src/main/scala/doobie/postgres/rangeinstances.scala
Due: Label core PRs, Label postgres PRs

postgres test passing
  modules/postgres/src/main/scala/doobie/postgres/hi/connection.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/largeobject.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/lostreaming.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/pgconnection.scala
  modules/postgres/src/main/scala/doobie/postgres/syntax/FragmentSyntax.scala
Due: Label postgres PRs

Provide examples for hi/low level modules
  CONTRIBUTING.md
  modules/docs/src/main/mdoc/docs/02-Toolkit.md
Due: Label docs PRs

Doc clarification for batch updates Fixes #706
  modules/core/src/main/scala/doobie/hi/preparedstatement.scala
  modules/core/src/main/scala/doobie/util/update.scala
Due: Label core PRs

Update sbt-typelevel-mergify to 0.7.1
  project/plugins.sbt
Due: none

Update refined to 0.11.2
  build.sbt
Due: none

Update specs2-core to 4.20.7
  build.sbt
Due: none
