Repository wingkam2006cv/doobie: changes, and which Mergify rules are due for each by the changed paths.
All: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label h2-circe PRs, Label hikari PRs, Label munit PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs, Label weaver PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - body~=labels:.*early-semver-patch
  - status-success=Build and Test (ubuntu-latest, 2.12.17, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 2.13.10, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 3.3.0, temurin@11)
  actions:
    merge: {}
- name: Label bench PRs
  conditions:
  - files~=^modules/bench/
  actions:
    label:
      add:
      - bench
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^modules/docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label example PRs
  conditions:
  - files~=^modules/example/
  actions:
    label:
      add:
      - example
      remove: []
- name: Label free PRs
  conditions:
  - files~=^modules/free/
  actions:
    label:
      add:
      - free
      remove: []
- name: Label h2 PRs
  conditions:
  - files~=^modules/h2/
  actions:
    label:
      add:
      - h2
      remove: []
- name: Label h2-circe PRs
  conditions:
  - files~=^modules/h2-circe/
  actions:
    label:
      add:
      - h2-circe
      remove: []
- name: Label hikari PRs
  conditions:
  - files~=^modules/hikari/
  actions:
    label:
      add:
      - hikari
      remove: []
- name: Label munit PRs
  conditions:
  - files~=^modules/munit/
  actions:
    label:
      add:
      - munit
      remove: []
- name: Label postgres PRs
  conditions:
  - files~=^modules/postgres/
  actions:
    label:
      add:
      - postgres
      remove: []
- name: Label postgres-circe PRs
  conditions:
  - files~=^modules/postgres-circe/
  actions:
    label:
      add:
      - postgres-circe
      remove: []
- name: Label refined PRs
  conditions:
  - files~=^modules/refined/
  actions:
    label:
      add:
      - refined
      remove: []
- name: Label scalatest PRs
  conditions:
  - files~=^modules/scalatest/
  actions:
    label:
      add:
      - scalatest
      remove: []
- name: Label specs2 PRs
  conditions:
  - files~=^modules/specs2/
  actions:
    label:
      add:
      - specs2
      remove: []
- name: Label weaver PRs
  conditions:
  - files~=^modules/weaver/
  actions:
    label:
      add:
      - weaver
      remove: []

Fix scala 3 compile errors
  modules/core/src/test/scala-3/doobie/util/LogSuitePlatform.scala
  modules/free/src/main/scala/doobie/util/log.scala
Due: Label core PRs, Label free PRs

Rename LogHandlerM to LogHandler
  modules/core/src/main/scala/doobie/aliases.scala
  modules/core/src/main/scala/doobie/util/transactor.scala
  modules/core/src/test/scala/doobie/issue/262.scala
  modules/core/src/test/scala/doobie/util/StrategySuite.scala
  modules/docs/src/main/mdoc/docs/03-Connecting.md
  modules/docs/src/main/mdoc/docs/10-Logging.md
  modules/example/src/main/scala/example/Coproduct.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/free/src/main/scala/doobie/util/log.scala
  modules/h2/src/main/scala/doobie/h2/H2Transactor.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/connection.scala
  project/FreeGen2.scala
Due: Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label postgres PRs

Update sbt-typelevel-ci-release, ... to 0.4.22
  project/plugins.sbt
Due: none

Update sbt-header to 5.10.0
  project/plugins.sbt
Due: none

Update scala-library, scala-reflect to 2.12.18
  .github/workflows/ci.yml
  build.sbt
Due: none

Regenerate GitHub Actions workflow
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Update scala-library, scala-reflect to 2.13.11
  .github/workflows/ci.yml
  build.sbt
Due: none

Revert commit(s) a93ffece, 69127ccb
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Update munit to 1.0.0-M8
  build.sbt
Due: none

Update refined to 0.11.0
  build.sbt
Due: none

Rework fragment helpers
  modules/core/src/main/scala/doobie/util/fragments.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
Due: Label core PRs

Add orFallbackFalse, andFallbackTrue
  modules/core/src/main/scala/doobie/util/fragments.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
Due: Label core PRs

HikariTransactor: Default logHandler to None
  modules/docs/src/main/mdoc/docs/14-Managing-Connections.md
  modules/hikari/src/main/scala/doobie/hikari/HikariTransactor.scala
Due: Label docs PRs, Label hikari PRs

Fix case
  modules/hikari/src/main/scala/doobie/hikari/HikariTransactor.scala
Due: Label hikari PRs

Remove unnecessary context bound which breaks normal code
  modules/hikari/src/main/scala/doobie/hikari/HikariTransactor.scala
Due: Label hikari PRs

Revert Slf4j 2.x
  build.sbt
Due: none

Update cats-effect, cats-effect-testkit to 3.5.1
  build.sbt
Due: none

add test to confirm bug
  build.sbt
  modules/core/src/test/scala-3/doobie/util/WriteSuitePlatform.scala
Due: Label core PRs

add failing test
  modules/core/src/main/scala/doobie/util/write.scala
  modules/core/src/test/scala-3/doobie/util/ReadSuitePlatform.scala
  modules/core/src/test/scala-3/doobie/util/WriteSuitePlatform.scala
Due: Label core PRs

remove using by name
  modules/core/src/main/scala-3/util/WritePlatform.scala
Due: Label core PRs

Update paradox-theme-generic, sbt-paradox to 0.10.5
  project/plugins.sbt
Due: none

Add module for log4cats support
  build.sbt
  modules/log4cats/src/main/scala/doobie/log4cats/Log4CatsLogHandler.scala
Due: none

mergifyGenerate
  .mergify.yml
Due: none

githubWorkflowGenerate
  .github/workflows/ci.yml
Due: none

Log4CatsDebuggingLogHandler
  modules/log4cats/src/main/scala/doobie/log4cats/Log4CatsDebuggingLogHandler.scala
Due: none

Add Intent HQ to list of adopters
  modules/docs/src/main/mdoc/index.md
Due: Label docs PRs

Update fs2-core, fs2-io to 3.8.0
  build.sbt
Due: none

Update specs2-core to 4.20.1
  build.sbt
Due: none

Update specs2-core to 4.20.2
  build.sbt
Due: none

Update cats-core, cats-free to 2.10.0
  build.sbt
Due: none

Use `syncStep` in `WeakAsync.liftK`
  modules/free/src/main/scala/doobie/WeakAsync.scala
Due: Label free PRs

Add `Related Tooling` section to `index.md`
  modules/docs/src/main/mdoc/index.md
Due: Label docs PRs

Add `WeakAsync.liftIO`
  modules/free/src/main/scala/doobie/WeakAsync.scala
Due: Label free PRs

Fix fragment helpers to handle fragments without spaces at the end (i.e. fr0, sql interpolator)
  modules/core/src/main/scala/doobie/util/fragments.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
Due: Label core PRs

Update fs2-core, fs2-io to 3.9.2
  build.sbt
Due: none

Update circe-core, circe-generic, ... to 0.14.6
  build.sbt
Due: none
